@font-face {
    font-family: 'Stag-medium';
    src: url('//static1.squarespace.com/static/55b1323ee4b01d2b2406f912/t/560d8a23e4b04817e6d2ba18/1443727907595/Stag-Medium.otf');
    font-weight: 400
}
@font-face {
    font-family: 'Stag-semibold';
    src: url('//static1.squarespace.com/static/55b1323ee4b01d2b2406f912/t/560d8a2de4b04817e6d2ba7b/1443727917314/Stag-Semibold.otf');
    font-weight: 400
}
@font-face {
    font-family: 'Stag-light';
    src: url('//static1.squarespace.com/static/55b1323ee4b01d2b2406f912/t/560d8a60e4b07967e390ff7d/1443727968709/Stag-Light.otf');
    font-weight: 400
}
@font-face {
    font-family: 'Stag-book';
    src: url('//static1.squarespace.com/static/55b1323ee4b01d2b2406f912/t/560d9824e4b052914ff70444/1443731492195/Stag-Book.otf');
    font-weight: 400
}
body {
    font-family: 'Stag-semibold' !important;
    color: #706D5F;
}

.btn-offset{
    width: 100% !important;      
    padding-left: 4px;
    padding-right: 4px;
    background-color: #80A641 !important;
    border-color: #80A641 !important; 
}
#external_offset{    
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #333D47;
}
.nav_img_fill .b{
    fill: #fff;
}

.buy_text{
    color: black !important;
}

#external_offset .external-offset__title{
    width: 100%;
    position: relative;
    font-size: 23px;
}
.external-offset__actions{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
}
.calculations-row{
    display: flex;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 10px;
}
.calculations-row .span6 {
    width: 32%;
    display: flex;
    flex-direction: column;
}
.calculations-row label{
    font-size: 15px;
    height: 40px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1360px){
    .calculations-row label {
        height: 60px;
    }
}

@media screen and (max-width: 425px){
    .calculations-row label {
        height: 100px;
    }
}
.calculations-row .total_offset_tons{
    max-width: 100%;
    font-size: 18px;
    font-weight: bold;    
    text-align: center;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculations-row .total_donation,
.calculations-row .total_acres{
    font-weight: bold;
    font-size: 18px;
    height: 34px;
    text-align: center;
    align-items: center;    
    display: flex;
    justify-content: center;
}
.calculations-row .total_donation button{
    border: none;
    font-size: 18px;
}
#food .label-container{
    position: relative;
}
#food .label-slider{
    position: absolute;
    top: -33px;
}
@media screen and (max-width: 1024px){
    #food .label-slider {
        position: initial;
        top: initial;
    }
}
.cc-nav__item.cc-nav__item--active{
    background: #80A641;
    color: #fff;
}

#cc_calculator_ui .cc-nav__item.cc-nav__item--active:hover{
    background: #80A641;
}
#external_offset .external-offset__title .cc-component__byline{
    text-transform: initial;
}
#external_offset .external-offset__description{
    width: 100%;
    font-size: 14px;
    font-family: 'CircularBook';
    padding-left: 4px;
    padding-right: 4px;
}
#home .cc-component__question, #food .cc-component__question{
    width: 100%;
    max-width: 100%;
}

.route_container__item {
    /*border: 1px solid #d9d9d9;*/
}

.cc-component__header {
    padding-left: 4px;
    padding-right: 4px;
}
#side_page__tabs .nav-tabs{
    border: 1px solid #80A641;
    border-top: none;
    border-right: none;
    border-left: none;
}
#side_page__tabs .nav-tabs .active a{
    border: 1px solid #80A641;
    border-bottom-color: transparent;
} 
#get_started .cc-component__nav{
    justify-content: flex-end;
}

#route_outer_container .route_container__item:nth-child(1):not(.view_6){
    min-height: 600px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border: 1px solid #d9d9d9;
}
#route_outer_container .route_container__item:nth-child(2){
    min-height: 600px;
    border: 1px solid #d9d9d9;
}
#route_outer_container .route_container__item.view_6:nth-child(1) {
    min-height: 600px;
    padding:0px !important;
}

#route_outer_container .route_container__item.view_6 .cc-component__header{
    display: none;
}

#take_action .cc-component{
    border: 1px solid #d9d9d9;
    padding-left: 20px !important;
    padding-right: 20px !important;

}
#take_action .cc__actions{
    border: 1px solid #d9d9d9;
    margin-top: 20px;
    padding-left: 11px !important;
    padding-right: 11px !important;
}

#external_offset .external-offset__call-to-action {
    margin-top: 20px;
    margin-bottom: 0px;
}


.external-offset__banner {
    height: 269px;
    background-image: url(./carbon_covenant.jpg);
    background-repeat: no-repeat;
    background-position: top;
    margin-top:20px;
}